body {
  font-family: Roboto, Helvetica, "Trip Sans", "Courier New", sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.top-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  margin-left: 30px;
}

.links {
  display: flex;
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.placeholder {
  margin: 20px 0 50px 39px;
}

.placeholder .main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  margin-bottom: 20px;
}

.placeholder .submain {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.random {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  flex: 1;
}

.body p {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.random .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  gap: 10px;
  width: 300px;
}

.card div {
  border-radius: 10px;
  height: 80px;
  width: 100px;
  flex-direction: column;
  border: 2px solid blue;
  display: flex;
  padding: 20px;
}

.card p {
  font-size: 20px;
  font-weight: normal;
  color: #1f2937;
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
}

.quote .author {
  font-size: 20px;
}

.action {
  background-color: white;
  flex: 1;
}

.action button {
  background-color: #3882f6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
}
