body {
  font-family: Roboto, Helvetica, "Trip Sans", "Courier New", sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.top-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  margin-left: 30px;
}

.links {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-right: 80px;
}

a {
  text-decoration: none;
  color: white;
}

.placeholder {
  margin: 20px 0 50px 39px;
}

.placeholder button {
  display: flex;
  border: 2px solid #3882f6;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  padding: 3px 7px;
  font-weight: 700;
  width: 80px;
  justify-content: center;
  margin-bottom: 60px;
}

.topper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topper div {
  background-color: rgba(118, 118, 123, 0.421);
  padding: 20px;
  width: 400px;
  margin-right: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.topper button {
  display: flex;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px 7px;
}

.submain {
  display: flex;
  flex-wrap: wrap;
}

.placeholder .main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  margin-bottom: 20px;
}

.placeholder .submain {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  margin-bottom: 9px;
  width: 600px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.random {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  flex: 1;
}

.body p {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.random .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  gap: 10px;
  width: 300px;
}

.card div {
  border-radius: 10px;
  height: 80px;
  width: 100px;
  flex-direction: column;
  border: 2px solid blue;
  display: flex;
  padding: 20px;
}

.card p {
  font-size: 20px;
  font-weight: normal;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.quote {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #e5e7eb;
  color: #1f2937;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.quote p {
  display: flex;
  margin-left: 140px;
  font-weight: 400;
}

.quote .author {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
}

.action {
  background-color: white;
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 80px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #3882f6;
  background-color: #3882f6;
  width: 550px;
  padding: 20px;
}

.modal .call {
  text-align: left;
}

.content .topper {
  display: flex;
  flex-direction: row;
}

.topper p {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
}

.content p {
  color: white;
}

.content .call {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 3px solid #1f2937;
  background-color: #1f2937;
  padding: 20px;
  color: white;
}
